body {font-family: 'Montserrat', sans-serif;}

footer ul {
  padding: 0;
}

footer ul li {
  display: inline-block;
}

footer .container p {
  display: block;
  margin: 0;
  font-size: 0.9rem;
}

@media only screen and (max-width: 768px) {
  footer .container p {
    font-size: 0.75rem;
  }
}
