html {
    font-family: 'Montserrat', sans-serif;
}

.topnav {
    position: relative;
    overflow: hidden;
}

.topnav a {
    text-align: center;
    padding-left: 35px;
    padding-right: 35px;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

.topnav li {
    padding: 4px 8px;
    display: inline-block;
    border: 3px solid black;
    border-radius: 2% 6% 5% 4% / 1% 1% 2% 4%;
    text-transform: uppercase;
    letter-spacing: 0.3ch;
    background: white;
    position: relative;
}

.current {
    padding: 4px 8px;
    display: inline-block;
    border: 3px solid black;
    border-radius: 2% 6% 5% 4% / 1% 1% 2% 4%;
    text-transform: uppercase;
    letter-spacing: 0.3ch;
    position: relative;
    background: lightpink;
}

li:hover {
    background: lightpink;
}

.topnav-right {
    padding-bottom: 20px;
    padding-right: 35px;
    float: right;
}
