/* Style the navigation menu */
.topnavbar {
  width: 100%;
  background-color: #555;
  overflow: auto;
}

/* Navigation links */
.topnavbar a {
  float: left;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
  width: 33.33%;
  text-align: center; 
}

/* Add a background color on mouse-over */
.topnavbar a:hover {
  background-color: #000;
}

/* Style the current/active link */
.topnavbar a.active {
  background-color: #4CAF50;
}
