body {
}

.topnav {
    position: relative;
    overflow: hidden;
}

.topnav a {
    text-align: center;
    padding-left: 35px;
    padding-right: 35px;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

.topnav li {
    padding: 4px 8px;
    display: inline-block;
    border: 3px solid #333333;
    border-radius: 2% 6% 5% 4% / 1% 1% 2% 4%;
    text-transform: uppercase;
    letter-spacing: 0.3ch;
    background: #ffffff;
    position: relative;
}

.current {
    padding: 4px 8px;
    display: inline-block;
    border: 3px solid #333333;
    border-radius: 2% 6% 5% 4% / 1% 1% 2% 4%;
    text-transform: uppercase;
    letter-spacing: 0.3ch;
    background: #ffffff;
    position: relative;
}

a:hover {
    background: gainsboro;
}

.topnav-right {
    float: right;
}
